@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Oswald:wght@500&family=Roboto&display=swap');

$title-serif: "Knewave", serif;
$title-family: $title-serif;

$subtitle-serif: "Oswald", serif;
$subtitle-family: $subtitle-serif;

$family-serif: "Roboto", serif;
$family-primary: $family-serif;

@import "../node_modules/bulma/bulma.sass";